.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .mapImage {
    // aspect-ratio: 21 / 33;
    margin-left: 35px;
    max-width: 90%;
    max-height: 90%;
    border-radius: 0px;
    background-color: var(--black);
    border-radius: 10px;
  }
}

.modal {
  position: relative;
  background-color: transparent;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal[open] {
  display: flex !important;
}

.modal::backdrop {
  // background-color: var(--black);
}
