services:
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: ${ENV:-development}
    ports:
      - "3001:3000"
    depends_on:
      - app
    environment:
      NEXT_PUBLIC_GA_ID: ${NEXT_PUBLIC_GA_ID}
      SITE_URL: ${SITE_URL}
      LAMBDA_API_KEY: ${LAMBDA_API_KEY}
      CI: ${CI:-false}
    networks:
      - safebrawl_net
  bot:
    build: ./bot
    restart: always
    environment:
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      DISCORD_CHANNEL_ID: ${DISCORD_CHANNEL_ID}
      SAFE_BRAWL_API_URL: "http://app:3000/api/v1"
      BOT_PORT: 4000
    ports:
      - "4000:4000"
    networks:
      - safebrawl_net
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    environment:
      DB_HOST: db
      RAILS_ENV: ${ENV:-development}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      BRAWL_STARS_API_TOKEN1: ${BRAWL_STARS_API_TOKEN1}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_LOG_TO_STDOUT: true
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      AWS_BUCKET: ${AWS_BUCKET}
      AWS_ENDPOINT: ${AWS_ENDPOINT}
      AWS_FORCE_PATH_STYLE: ${AWS_FORCE_PATH_STYLE}
      CDN_URL: ${CDN_URL}
      # RAILS_DEVELOPMENT_HOSTS: app,app:3000
      http_proxy: ${API_PROXY_URL}
      https_proxy: ${API_PROXY_URL}
      no_proxy: "localhost,127.0.0.1,db,app,web"
      LAMBDA_API_KEY: ${LAMBDA_API_KEY}
      DISCORD_BOT_URL: ${DISCORD_BOT_URL}
    networks:
      - safebrawl_net
  solid_queue:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      - db
      - app  # appコンテナが起動してからsolid_queueを起動
    volumes:
      - ./backend:/app
    environment:
      DB_HOST: db
      RAILS_ENV: ${ENV:-development}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      BRAWL_STARS_API_TOKEN1: ${BRAWL_STARS_API_TOKEN1}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_LOG_TO_STDOUT: true
      http_proxy: ${API_PROXY_URL}
      https_proxy: ${API_PROXY_URL}
      no_proxy: "localhost,127.0.0.1,db,app,web" # プロキシを経由しないホスト
    command: bundle exec rails solid_queue:start
    restart: unless-stopped  # 異常終了時の自動再起動
    # profiles:
    #   - production  # 開発環境でも使用するためコメントアウト
    networks:
      - safebrawl_net
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - safebrawl_net

volumes:
  postgres_data:

networks:
  safebrawl_net:
