.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
}

.statusContainer {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.reportVideoContainer {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 219.4px;
  background-color: var(--blue-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  video {
    // width: 100%;
    object-fit: cover;
    will-change: transform;
    contain: layout paint;
    height: 100%;
  }

  .mainVideoDescription {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    z-index: 10;
  }

  .reportInfo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;


    .reportedPlayerIconContainer {
      height: 50px;
      width: auto;
      position: relative;

      .reportedIcon {
        position: absolute;
        top: -8px;
        right: -4px;
        z-index: 100;
      }
    }
  }
}


.reviewCommentContainer {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--gray-600);
  border-radius: 8px;
  background-color: var(--blue-black);

  .reviewCommentTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--white);
    text-align: center;
  }
}
