.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .login {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--on-blue);
    color: var(--white);
    border: none;
    border-radius: 16px;
  }
}

.recentVideoContainer {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: var(--blue-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabsList {
  margin-top: 35px;
  max-width: 100%;
  width: auto;
  align-self: center;

  .tabTrigger {
    min-width: 120px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;

    font {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
}

.reviewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;

  h5 {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
  }
}

.battlelogContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;
}

.reportsContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;
}
