.inputGroup {
  margin-top: 30px;
  background-color: #262626;
  max-width: 260px;
  border: 1px solid var(--black-border);
  border-radius: 27px;
  color: white;
  // padding: 9px 28px;

  &:focus-within {
    border-color: var(--blue-black);
    box-shadow: 0 0 0 1.5px var(--blue-black);
  }
}

.inputGroupInput {
  text-transform: uppercase;
  margin-left: 25px;
  padding-bottom: 1.5px;
  color: var(--white);
}

.inputGroupText {
  margin-left: 15px;
  font-size: large;
}
