.brawlerSheetContent {
  padding-top: 50px;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  gap: 6px;
  border: 2px solid var(--black-border);
  z-index: 100;

  @media (min-width: 768px) {
    min-width: 700px;
  }
}

.brawlSheetInner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 8px 3px 0px 3px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  background-color: var(--black);
}

.brawlerSheetHeader {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.brawlerListContainer {
  margin-top: 8px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 9px;
  column-gap: 6px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 15px;
  }

}

.brawlerItemContainer {
  width: 137px;
  height: 124px;
  background-color: var(--blue-black);
  position: relative;
  border: 1px solid var(--black-border);
  // background-color: red;

  .gadgetContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .gadgetImageContainer {
      position: relative;
      width: 40px;
      height: 40px;
    }
  }

  .starPowerContainer {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .starPowerImageContainer {
      position: relative;
      width: 40px;
      height: 40px;

      .starPower {
        position: absolute;
        top: 11px;
        left: 11px;
      }
    }

  }

  .gearContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    display: grid;
    grid-template-columns: repeat(8, 30px);
    gap: 2px;

    img:nth-child(even) {
      margin-top: 16px;
    }
  }
}

.kaze {
  width: 137px;
  height: 124px;
  background-color: var(--blue-black);
  position: relative;
  border: 1px solid var(--black-border);
  z-index: 1;
  // background-color: red;

  // 虹色の帯。横幅を 400% にして無限にスライド
  background-image:
    // 1. ドットパターン（白い円形）
    radial-gradient(circle at center, transparent 42%, transparent 43%),
    // 2. 虹色のグラデーション（下に配置）
    linear-gradient(45deg,
      #ff004c,
      #ff8a00,
      #ffd300,
      #00d084,
      #00b0ff,
      #7a5cff,
      #ff00ea,
      #ff004c,
      #ff8a00,
      #ffd300,
      #00d084,
      #00b0ff,
      #7a5cff,
      #ff00ea,
      #ff004c,
      #ff8a00,
      #ffd300,
      #00d084,
      #00b0ff,
      #7a5cff,
      #ff00ea,
      #ff004c);

  // 各背景のサイズを指定
  background-size:
    18px 18px, // ドットパターンのサイズ
    400% 400%; // 虹色グラデーションのサイズ

  // 各背景の位置を指定
  background-position:
    0 0, // ドットパターンの位置
    0 0; // 虹色グラデーションの初期位置

  // 虹を流すアニメーション
  animation: rainbow-slide 3s linear infinite;

  .gadgetContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .gadgetImageContainer {
      position: relative;
      width: 40px;
      height: 40px;
    }
  }

  .starPowerContainer {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .starPowerImageContainer {
      position: relative;
      width: 40px;
      height: 40px;

      .starPower {
        position: absolute;
        top: 11px;
        left: 11px;
      }
    }

  }

  .gearContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 42px;
    display: grid;
    grid-template-columns: repeat(8, 30px);
    gap: 2px;

    img:nth-child(even) {
      margin-top: 16px;
    }
  }
}
