.container {
  margin-top: 30px;
  padding: 32px;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;

  .mapLink {
    text-decoration: none;
    width: calc(50% - 6px);

    &:hover {
      opacity: 0.8;
    }

    .mapImage {
      width: 100% !important;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}


.title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  text-align: center;
}

.description {
  width: 100%;
  font-size: 14px;
  color: var(--white);
  text-align: center;
}
