.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .inner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 23px;
    font-weight: bold;
    font-size: 14px;
  }

  .login {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--on-blue);
    color: var(--white);
    border: none;
    border-radius: 16px;
    box-shadow: 0px 3px 50px var(--on-blue);
  }
}







// Recent Video Section
.recentVideoContainer {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: var(--blue-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  video {
    width: 100%;
    object-fit: cover;
    will-change: transform;
    contain: layout paint;
  }

  .mainVideoDescription {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    z-index: 10;
  }

  .reportInfo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;


    .reportedPlayerIconContainer {
      height: 50px;
      width: auto;
      position: relative;

      .reportedIcon {
        position: absolute;
        top: -8px;
        right: -4px;
        z-index: 100;
      }
    }
  }

}


// review tab content
.reviewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;

  h5 {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
  }
}

.battlelogContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;
}

.reportsContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 23px 8px 23px;
}
